<!DOCTYPE html>
<html>
<head>
  <title>Bunyan</title>
  <%= stylesheet_link_tag    "bunyan/application", media: "all" %>
  <%= javascript_include_tag "bunyan/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
